---
title: Digitize Me
---
	<div class="bg-blue">
		<div class="text-center" id="intro">
			<h1>Digitize<strong>.ME</strong></h1>
				<h3>La présence digitale que votre entreprise mérite</h3>
					<div class="spacer-small"></div>
						<a href="#facts" class="btn btn-warning btn-lg text-center">Découvrez la suite</a>
		</div>
	</div>
	
<div class="spacer-small" id="facts"></div>

	<div class="container">
		<div class="row">

			<div class="text-center">
				<h3>Une présence digitale, mais pour quoi faire ?</h4>
			</div>

<div class="spacer-small"></div>

				<div class="col-xs-12 col-sm-4 text-center">
					<%= image_tag 'Google.png' %>
					<div class="spacer-small"></div>
						<h4><strong>72%</strong> des utilisateurs consultent une fiche Google avant de se rendre en magasin</h4>
					
				</div>
				<div class="col-xs-12 col-sm-4 text-center">
				<%= image_tag 'site.png' %>
					<div class="spacer-small"></div>
						<h4>Pour <strong>83%</strong> un site dédié pour mieux connaitre l'entreprise les motive à y venir</h4>
					
				</div>
				<div class="col-xs-12 col-sm-4 text-center">
				<%= image_tag 'Twitter.png' %>
					<div class="spacer-small"></div>
						<h4><strong>75%</strong> des utilisateurs aiment pouvoir consulter les news d'une entreprise par ses réseaux sociaux</h4>
				
				</div>
		</div>
	</div>


	<div class="container">
		<div class="row">
			<div class="text-center">
				<h3>Témoignages</h3>
			</div>

			<div class="spacer-small"></div>

			<div class="col-xs-12 col-sm-4 text-center">
				<%= image_tag 'logo.svg' %>
					<h4>Adrien Dornibierer</h4>
						<p>"Bla bla bla"</p>
			</div>
			<div class="col-xs-12 col-sm-4 text-center">
				<%= image_tag 'logo.svg' %>
					<h4>Claire Dhainne</h4>
						<p>"Bla bla bla"</p>
			</div>
			<div class="col-xs-12 col-sm-4 text-center">
				<%= image_tag 'logo.svg' %>
					<h4>Jérôme Dumont</h4>
						<p>"Bla bla bla"</p>
			</div>

		</div>
	</div>









